<div class="sl-containter overflow-hidden lg:max-w-lg lg:w-full w-full">
  <div class="sl-wrapper flex">
    <img src="/images/img1.png" alt="hero Image 1" />
    <img src="/images/img2.png" alt="hero Image 2" />
    <img src="/images/img1.png" alt="hero Image 3" />
    <img src="/images/img2.png" alt="hero Image 4" />
  </div>
</div>
