<div class="sl-containter overflow-hidden lg:w-full w-full">
  <div class="sl-wrapper flex">
    <img src="/images/image.png" alt="hero Image 1" />
    <img src="/images/image.png" alt="hero Image 1" />
    <img src="/images/image.png" alt="hero Image 1" />
    <img src="/images/image.png" alt="hero Image 1" />
  </div>
</div>
