<div class="text-gray-600 body-font h-64 px-5 py-5 grid grid-cols-1 gap-y-4">
  <div
    class="h-80 bg-gray-300 px-4 pt-4 pb-24 rounded-lg overflow-hidden text-center relative flex flex-wrap gap-10 din border border-solid border-black shadow hover:shadow-lg"
  >
    <div class="w-full h-14 flex flex-wrap gap-4 px-2">
      <div
        class="border-t-0 border-r-2 border-b-0 border-l-0 border-solid border-black w-64 h-full pt-4"
      >
        <p>Beyond Borders: Embracing Cultural Diversity</p>
      </div>
      <div
        class="my-1 w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center"
      >
        <img
          src="./images/Ellipse 5.png"
          alt="image 1"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="w-full h-14 flex flex-wrap gap-4 px-2">
      <div
        class="border-t-0 border-r-2 border-b-0 border-l-0 border-solid border-black w-64 h-full pt-4"
      >
        <p>From Page to Screen: Exploring the Art of Adaptation</p>
      </div>
      <div
        class="my-1 w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center"
      >
        <img
          src="./images/Ellipse 6.png"
          alt="image 1"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
    <div class="w-full h-14 flex flex-wrap gap-4 px-2">
      <div
        class="border-t-0 border-r-2 border-b-0 border-l-0 border-solid border-black w-64 h-full pt-4"
      >
        <p>The Power of Storytelling: Connecting Through Narratives</p>
      </div>
      <div
        class="my-1 w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center"
      >
        <img
          src="./images/Ellipse 7.png"
          alt="image 1"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>

  <div
    class="h-80 bg-gray-300 px-4 pt-4 pb-24 rounded-lg overflow-hidden text-center relative flex flex-wrap gap-10 din border border-solid border-black shadow hover:shadow-lg"
  >
    <div class="w-full h-14 flex flex-wrap gap-4 px-2">
      <div
        class="my-1 w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center"
      >
        <img
          src="./images/Ellipse 8.png"
          alt="image 1"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-64 h-full pt-4">
        <p>Seth Godin (Marketing, Entrepreneurship)</p>
      </div>
    </div>
    <div class="w-full h-14 flex flex-wrap gap-4 px-2">
      <div
        class="my-1 w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center"
      >
        <img
          src="./images/Ellipse 6.png"
          alt="image 1"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-64 h-full pt-4">
        <p>Mark Manson (Personal Development, Psychology)</p>
      </div>
    </div>
    <div class="w-full h-14 flex flex-wrap gap-4 px-2">
      <div
        class="my-1 w-12 h-12 bg-blue-500 rounded-full flex items-center justify-center"
      >
        <img
          src="./images/Ellipse 5.png"
          alt="image 1"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-64 h-full pt-4">
        <p>Brian Dean (SEO, Digital Marketing)</p>
      </div>
    </div>
  </div>
</div>
