<!-- blog 1 -->
<div
  class="blog-title bg-gray-50 bg-opacity-75 px-4 py-5 mb-5 rounded-lg flex gap-4 border border-solid shadow transition-all ease-in-out hover:-translate-y-1 cursor-pointer"
>
  <div class="border border-black rounded-md w-3/5">
    <h1 class="py-2 text-lg font-bold">
      <a href="#"> Tech Trends: Innovations Shaping Our Future </a>
    </h1>
    <p class="pb-2">
      <a href="#">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab pariatur
        corporis dicta, rem consequuntur officiis. Explicabo, nemo sunt ut modi
        laboriosam expedita harum eum! Reiciendis sint facilis nesciunt earum
        molestias!
      </a>
    </p>
    <div class="readmore">
      <a href="#" class="text-blue-400 flex items-center hover:underline">
        <span class="pr-1"> Read More </span>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="text-blue-400"
        >
          <path
            d="M12.3103 8.25L16.0312 12L12.3103 15.75M15.5142 12H7.96875"
            stroke="#60a5fa"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 21C16.9687 21 21 16.9688 21 12C21 7.03125 16.9687 3 12 3C7.03125 3 3 7.03125 3 12C3 16.9688 7.03125 21 12 21Z"
            stroke="#60a5fa"
            stroke-width="2"
            stroke-miterlimit="10"
          />
        </svg>
      </a>
    </div>
  </div>
  <a class="bg-green-600 w-2/5 rounded-lg bg-opacity-75">
    <img
      src="/images/image.png"
      alt="image 1"
      class="w-full h-full object-cover rounded-md shadow-lg"
    />
  </a>
</div>

<!-- blog 2  -->
<div
  class="blog-title bg-gray-50 bg-opacity-75 px-4 py-5 mb-5 rounded-lg flex gap-4 border border-solid shadow transition-all ease-in-out hover:-translate-y-1 cursor-pointer"
>
  <div class="border border-black rounded-md w-3/5">
    <h1 class="py-2 text-lg font-bold">
      <a href="#"> Tech Trends: Innovations Shaping Our Future </a>
    </h1>
    <p class="pb-2">
      <a href="#">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab pariatur
        corporis dicta, rem consequuntur officiis. Explicabo, nemo sunt ut modi
        laboriosam expedita harum eum! Reiciendis sint facilis nesciunt earum
        molestias!
      </a>
    </p>
    <div class="readmore">
      <a href="#" class="text-blue-400 flex items-center hover:underline">
        <span class="pr-1"> Read More </span>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="text-blue-400"
        >
          <path
            d="M12.3103 8.25L16.0312 12L12.3103 15.75M15.5142 12H7.96875"
            stroke="#60a5fa"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M12 21C16.9687 21 21 16.9688 21 12C21 7.03125 16.9687 3 12 3C7.03125 3 3 7.03125 3 12C3 16.9688 7.03125 21 12 21Z"
            stroke="#60a5fa"
            stroke-width="2"
            stroke-miterlimit="10"
          />
        </svg>
      </a>
    </div>
  </div>
  <a class="bg-green-600 w-2/5 rounded-lg bg-opacity-75">
    <img
      src="/images/image.png"
      alt="image 1"
      class="w-full h-full object-cover rounded-md shadow-lg"
    />
  </a>
</div>