<div class="text-gray-600 body-font h-64 py-5 grid grid-cols-1 gap-y-4">
  <div class="blog-title">
    <div
      class="h-14 bg-gray-100 bg-opacity-75 px-4 pt-4 pb-24 rounded-lg overflow-hidden text-center relative flex flex-wrap gap-10 din border border-solid border-black shadow hover:shadow-lg"
    >
      <div class="w-96 h-20 border border-black rounded-md">
        <h1 class="p-5">“Tech Trends: Innovations Shaping Our Future”</h1>
      </div>
      <div class="bg-green-600 w-1/2 h-20 rounded-md bg-opacity-75">
        <img
          src="./images/img1.png"
          alt="image 1"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>
  <div class="blog-image">
    <div class="image-blog">
      <img src="./images/Img1.pmg" alt="">
    </div>
  </div>
</div>
