<form class="max-w-lg mx-auto my-4">
  <div class="flex">
    <div class="relative w-full">
      <input
        type="search"
        id="search-dropdown"
        class="block p-2.5 w-full z-20 text-sm text-white rounded-xl border-2 border-solid border-white hover:border-red-400 hover:bg-gray-200 bg-gradient-to-b from-blue-400 to-blue-800"
        placeholder="Search..."
        required
      />
      <button
        type="submit"
        class="absolute top-0 end-0 p-2.5 my-1 mr-2 text-sm font-medium h-4/5 text-white rounded-lg border-0 hover:border border-solid border-white"
      >
        <svg
          class="w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </div>
  </div>
</form>
