<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LekhaPadi - Registration</title>

    <%- include('all_css_js') -%>
    <script src="/js/signupFormValidation.js" defer></script>
  </head>
  <body>
    <section class="w-full">
      <div class="flex justify-center items-center h-screen">
        <div
          class="md:w-4/12 sm:w-2/3 signupform bg-gray-800 px-5 py-4 rounded-xl"
        >
          <h2
            class="font-bold text-white text-center w-full text-xl tracking-normal"
          >
            Signup Form
          </h2>
          <form action="signup" method="POST" class="p-4 tracking-normal" id="signupform">
            <div class="mb-3">
              <label for="fullname" class="block mb-1 text-white font-medium"
                >Fullname</label
              >
              <input
                type="text"
                name="fullname"
                placeholder="John Doe"
                class="focus:ring-primary-600 focus:border-primary-600 w-full h-9 px-3 rounded"
                required
              />
            </div>

            <div class="mb-3">
              <label for="email" class="block mb-1 text-white font-medium"
                >Email</label
              >
              <input
                type="email"
                name="email"
                id="email"
                class="focus:ring-primary-600 focus:border-primary-600 w-full h-9 px-3 rounded"
                placeholder="jon@mail.com"
                required
              />
            </div>

            <div class="mb-3">
              <label for="username" class="block mb-1 text-white font-medium"
                >Username</label
              >
              <input
                type="text"
                name="username"
                id="username"
                class="focus:ring-primary-600 focus:border-primary-600 w-full h-9 px-3 rounded"
                placeholder="johndoe"
                required
              />

              <span class="block mb-3 text-sm text-red-700" id="username-error-msg"></span>
            </div>
            <div class="mb-3">
              <label for="password" class="block mb-1 text-white font-medium"
                >Password</label
              >
              <input
                type="password"
                name="password"
                id="password"
                class="focus:ring-primary-600 focus:border-primary-600 w-full h-9 px-3 rounded"
                placeholder="**********"
                required
              />
              <span class="block mb-3 text-sm text-red-700" id="pwd-error-msg"></span>
            </div>
            <div class="mb-3">
              <label for="cpassword" class="block mb-1 text-white font-medium"
                >Confirm Password</label
              >
              <input
                type="password"
                name="cpwd"
                id="cpassword"
                class="focus:ring-primary-600 focus:border-primary-600 w-full h-9 px-3 rounded"
                placeholder="**********"
                required
              />
              <span class="block mb-3 text-sm text-red-700 block" id="confirm-err-msg"></span>
            </div>

            <div class="acceptance">
              <div class="flex items-center">
                <div class="inline mr-2">
                  <input
                    type="checkbox"
                    id="tnc"
                    class="focus:ring-3 focus:ring-primary-300"
                    required
                  />
                </div>
                <div class="inline">
                  <label for="tnc" class="text-white"
                    >I accept the
                    <a class="!text-blue-700 hover:underline" href="#"
                      >Terms and Conditions</a
                    ></label
                  >
                </div>
              </div>
            </div>

            <button
              type="submit"
              class="bg-blue-600 text-white font-bold w-full my-4 h-10 hover:bg-primary-700 focus:ring-primary-300 rounded-lg"
            >
              Create an account
            </button>

            <p class="text-center">
              <a href="signin" class="text-blue-700 hover:underline"
                >Already have an account?</a
              >
            </p>
          </form>
        </div>
        <div class="backbtn">
          <p class="text-center">
            <a href="/" class="text-blue-700 hover:underline">Back To Home</a>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
